---
const { frontmatter } = Astro.props;
---

<head>
  <title>{frontmatter.title}</title>
</head>

<h1>{frontmatter.title}</h1>
<p>{frontmatter.pubDate.slice(0, 10)}</p>
<p><em>{frontmatter.description}</em></p>
<p>Written by: {frontmatter.author}</p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<hr />
<slot />
<a href="/blog">Back to blog posts</a>
